extends layout

block body
  .row.main-page-body
    .col-xs-12.text-center
      h1
        a(href='/fightsim') Fight Simulator
    .col-xs-12.text-center
      h1
        a(href='/benchmark') Compostion Benchmark

block scriptfeet
  script(src='/views/index.js')
