body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #121414;
  height: 100%;
  color: #86B1BF;
}

.main-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: #bcbcbc;
}

.main-page-body {
  padding: 50px;
  min-height: calc(100% - 40px);
}

.main-page-footer {
  height: 40px;
  margin-bottom: 0px;
  background: #22728C;
}

.form-control, .input-group-addon {
  background-color: #121819;
  color: #62828C;
  border-color: #1B2326;
}

.input-group-addon {
  width: 150px;
}
